<?xml version="1.0" encoding="iso-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang='de' xmlns='http://www.w3.org/1999/xhtml' lang='de'>
<head>
    <title>Release Notes of simple_springboot</title>
    <link rel="stylesheet" href="http://bootswatch.com/yeti/bootstrap.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <style type="text/css">
        .releasenotes h1 {
            font-size: 1.5em;
        }

        .releasenotes h2 {
            font-size: 1.2em;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="navbar navbar-default">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Release notes</h1>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="row releasenotes">
    <div class="col-md-4"></div>

    <div class="col-md-4"><h1>v2.66.0<a name='[v2.66.0, v2.65.0][0]'></a></h1>
        <ul>
            <li>6db9ddf 2018-05-31 rkerai [jenkins-versioned] v2.66.0 +
                jenkins-Simple-springboot-example-development-225
            </li>
            <li>7cb528f 2018-05-31 Neil Tingley Fix missing imports</li>
            <li>6ce48c8 2018-05-31 Neil Tingley Fix missing imports</li>
        </ul>
        <h1>v2.65.0<a name='[v2.65.0, v2.64.0][0]'></a></h1>
        <ul>
            <li>d735ed3 2018-05-31 rkerai [jenkins-versioned] v2.65.0 +
                jenkins-Simple-springboot-example-development-222
            </li>
            <li>e459930 2018-05-31 Neil Tingley Fix missing imports</li>
            <li>a485783 2018-05-31 Neil Tingley Fix missing imports</li>
            <li>aaea564 2018-05-31 tingleyn Merge branch 'master' into development</li>
            <li>fa9737d 2018-05-31 tingleyn Merge branch 'master' into development</li>
            <li>692125b 2018-05-31 Neil Tingley Merge branch 'PC-1234' into development</li>
            <li>5c2268e 2018-05-31 Neil Tingley Testing</li>
            <li>51f8977 2018-05-30 ChoudhuryTA PC-1234: Created thread example</li>
            <li>b25bfae 2018-05-29 Neil Tingley Testing</li>
            <li>ccc11de 2018-04-11 bainss set master version in Jenkins</li>
            <li>0a1f05d 2018-04-11 bainss set master version in Jenkins</li>
            <li>4f72dfc 2018-04-11 bainss set master version in Jenkins</li>
            <li>ec8feb5 2018-04-04 bainss Merge branch 'development'</li>
            <li>01a3e00 2018-04-04 bainss test master</li>
            <li>83ae043 2018-04-04 bainss test master</li>
            <li>2b96fcd 2018-03-28 rkerai [jenkins-versioned] v3.0.0-master +
                jenkins-Simple-springboot-example-master-6
            </li>
            <li>267a1ac 2018-03-28 purvisi Merge pull request #1 from pol/PC-1234</li>
        </ul>
        <h1>v2.64.0<a name='[v2.64.0, v2.63.0][0]'></a></h1>
        <ul>
            <li>f925e29 2018-05-29 rkerai [jenkins-versioned] v2.64.0 +
                jenkins-Simple-springboot-example-development-217
            </li>
            <li>d269782 2018-05-29 Neil Tingley Use buildpack 4.12</li>
        </ul>
        <h1>v2.63.0<a name='[v2.63.0, v2.62.0][0]'></a></h1>
        <ul>
            <li>b028b2c 2018-05-23 rkerai [jenkins-versioned] v2.63.0 +
                jenkins-Simple-springboot-example-development-216
            </li>
            <li>8896811 2018-05-23 Neil Tingley Moved properties</li>
        </ul>
        <h1>v2.62.0<a name='[v2.62.0, v2.61.0][0]'></a></h1>

        <ul>
            <li>79a69b5 2018-05-23 rkerai [jenkins-versioned] v2.62.0 +
                jenkins-Simple-springboot-example-development-213
            </li>
            <li>77155df 2018-05-23 Neil Tingley Moved properties</li>
        </ul>
        <h1>v2.61.0<a name='[v2.61.0, v2.60.0][0]'></a></h1>
        <ul>
            <li>198f14f 2018-05-23 rkerai [jenkins-versioned] v2.61.0 +
                jenkins-Simple-springboot-example-development-212
            </li>
            <li>e3edb21 2018-05-23 Neil Tingley Add java melody</li>
        </ul>
        <h1>v2.60.0<a name='[v2.60.0, v2.59.0][0]'></a></h1>
        <ul>
            <li>9d2d762 2018-04-25 rkerai [jenkins-versioned] v2.60.0 +
                jenkins-Simple-springboot-example-development-206
            </li>
            <li>ed0363f 2018-04-25 Neil Tingley Merge branch 'development' of
                pol-hngt-githubent.mycnets.com:pol/pol-hss-simple-springboot into development
            </li>
            <li>15288e3 2018-04-25 Neil Tingley # Conflicts: # Jenkinsfile</li>
        </ul>
        <h1>v2.59.0<a name='[v2.59.0, v2.58.0][0]'></a></h1>
        <ul>
            <li>24de693 2018-04-25 rkerai [jenkins-versioned] v2.59.0 +
                jenkins-Simple-springboot-example-development-193
            </li>
            <li>a2b3d73 2018-04-25 bainss test behave bdd</li>
        </ul>
        <h1>v2.58.0<a name='[v2.58.0, v2.57.0][0]'></a></h1>
        <ul>
            <li>d1f4f83 2018-04-20 rkerai [jenkins-versioned] v2.58.0 +
                jenkins-Simple-springboot-example-development-190
            </li>
            <li>8cd275d 2018-04-20 Neil Tingley Testing latest release of pipeline library</li>
            <li>5ff3aa7 2018-04-20 Neil Tingley Testing latest release of pipeline library</li>
            <li>976c243 2018-04-19 Neil Tingley Merged in new version of pipeline</li>
        </ul>
        <h1>v2.57.0<a name='[v2.57.0, v2.56.0][0]'></a></h1>
        <ul>
            <li>5416eb8 2018-04-19 rkerai [jenkins-versioned] v2.57.0 +
                jenkins-Simple-springboot-example-development-169
            </li>
            <li>b2f1cfe 2018-04-19 bainss add bdd section</li>
            <li>e41b7da 2018-04-19 bainss add bdd section</li>
        </ul>
        <h1>v2.56.0<a name='[v2.56.0, v2.55.0][0]'></a></h1>
        <ul>
            <li>372b358 2018-04-19 rkerai [jenkins-versioned] v2.56.0 +
                jenkins-Simple-springboot-example-development-166
            </li>
            <li>9ef1fd3 2018-04-19 bainss Merge branch 'development' of
                https://pol-hngt-githubent.mycnets.com/pol/pol-hss-simple-springboot into development
            </li>
            <li>70f1dc8 2018-04-19 bainss add bdd section</li>
        </ul>
        <h1>v2.55.0<a name='[v2.55.0, v2.54.0][0]'></a></h1>
        <ul>
            <li>d7ea56f 2018-04-19 rkerai [jenkins-versioned] v2.55.0 +
                jenkins-Simple-springboot-example-development-157
            </li>
            <li>c1bc74b 2018-04-19 bainss test bdd</li>
            <li>105d07b 2018-04-19 bainss test bdd</li>
        </ul>
        <h1>v2.54.0<a name='[v2.54.0, v2.53.0][0]'></a></h1>
        <ul>
            <li>4db5fb4 2018-04-19 rkerai [jenkins-versioned] v2.54.0 +
                jenkins-Simple-springboot-example-development-154
            </li>
            <li>1f1d5fe 2018-04-19 tingleyn Merge pull request #5 from pol/PC-4536</li>
            <li>f7c2f71 2018-04-19 tingleyn Merge branch 'development' into PC-4536</li>
            <li>fb64524 2018-04-19 Neil Tingley # Conflicts: # Jenkinsfile</li>
            <li>52e872c 2018-04-19 Neil Tingley Test PC-4536 of pipeline library</li>
            <li>2f3691f 2018-04-19 Neil Tingley Test PC-4536 of pipeline library</li>
            <li>f2f1aa5 2018-04-19 Neil Tingley Test PC-4536 of pipeline library</li>
            <li>1f2cacb 2018-04-18 tingleyn Merge pull request #4 from pol/PC-0000_test_github_notify</li>
            <li>21bc8ca 2018-04-18 Neil Tingley Merge branch 'development' of
                pol-hngt-githubent.mycnets.com:pol/pol-hss-simple-springboot into PC-0000_test_github_notify
            </li>
            <li>ecf69c0 2018-04-17 Neil Tingley Changed pipeline library version PC-4468</li>
            <li>734b4d0 2018-04-12 Neil Tingley Tidied up config</li>
            <li>048bcf4 2018-04-12 Neil Tingley Changed pipeline library version PC-4468</li>
            <li>72ef578 2018-04-12 Neil Tingley Changed pipeline library version PC-4468</li>
            <li>c155d54 2018-04-11 Neil Tingley Changed pipeline library version PC-4468</li>
            <li>8bae333 2018-04-10 Neil Tingley Changed pipeline library version to fix-grab</li>
        </ul>
        <h1>v2.53.0<a name='[v2.53.0, v2.52.0][0]'></a></h1>
        <ul>
            <li>05a41a8 2018-04-16 rkerai [jenkins-versioned] v2.53.0 +
                jenkins-Simple-springboot-example-development-149
            </li>
            <li>0502a35 2018-04-16 bainss workflow library to 2.8.0</li>
            <li>66f5633 2018-04-16 bainss workflow library to 2.80.0</li>
        </ul>
        <h1>v2.52.0<a name='[v2.52.0, v2.51.0][0]'></a></h1>
        <ul>
            <li>4627bfd 2018-04-16 rkerai [jenkins-versioned] v2.52.0 +
                jenkins-Simple-springboot-example-development-148
            </li>
            <li>132a932 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.51.0<a name='[v2.51.0, v2.50.0][0]'></a></h1>
        <ul>
            <li>aa5e376 2018-04-16 rkerai [jenkins-versioned] v2.51.0 +
                jenkins-Simple-springboot-example-development-147
            </li>
            <li>a7a41f1 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.50.0<a name='[v2.50.0, v2.49.0][0]'></a></h1>
        <ul>
            <li>fc15b5c 2018-04-16 rkerai [jenkins-versioned] v2.50.0 +
                jenkins-Simple-springboot-example-development-146
            </li>
            <li>c0a9e04 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.49.0<a name='[v2.49.0, v2.48.0][0]'></a></h1>
        <ul>
            <li>86a4e76 2018-04-16 rkerai [jenkins-versioned] v2.49.0 +
                jenkins-Simple-springboot-example-development-145
            </li>
            <li>388419b 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.48.0<a name='[v2.48.0, v2.47.0][0]'></a></h1>
        <ul>
            <li>bc01f41 2018-04-16 rkerai [jenkins-versioned] v2.48.0 +
                jenkins-Simple-springboot-example-development-144
            </li>
            <li>5d798b8 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.47.0<a name='[v2.47.0, v2.46.0][0]'></a></h1>
        <ul>
            <li>40ea6c4 2018-04-16 rkerai [jenkins-versioned] v2.47.0 +
                jenkins-Simple-springboot-example-development-143
            </li>
            <li>d2b104f 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.46.0<a name='[v2.46.0, v2.45.0][0]'></a></h1>
        <ul>
            <li>3043b4e 2018-04-16 rkerai [jenkins-versioned] v2.46.0 +
                jenkins-Simple-springboot-example-development-142
            </li>
            <li>edd353f 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.45.0<a name='[v2.45.0, v2.44.0][0]'></a></h1>
        <ul>
            <li>55837d8 2018-04-16 rkerai [jenkins-versioned] v2.45.0 +
                jenkins-Simple-springboot-example-development-141
            </li>
            <li>7513bac 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.44.0<a name='[v2.44.0, v2.43.0][0]'></a></h1>
        <ul>
            <li>ee69406 2018-04-16 rkerai [jenkins-versioned] v2.44.0 +
                jenkins-Simple-springboot-example-development-140
            </li>
            <li>f36f1c4 2018-04-16 bainss Merge branch 'development' of
                https://pol-hngt-githubent.mycnets.com/pol/pol-hss-simple-springboot into development
            </li>
            <li>5d4c8e5 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.43.0<a name='[v2.43.0, v2.42.0][0]'></a></h1>
        <ul>
            <li>26eac26 2018-04-16 rkerai [jenkins-versioned] v2.43.0 +
                jenkins-Simple-springboot-example-development-139
            </li>
            <li>d175abe 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.42.0<a name='[v2.42.0, v2.41.0][0]'></a></h1>
        <ul>
            <li>3b4d90b 2018-04-16 rkerai [jenkins-versioned] v2.42.0 +
                jenkins-Simple-springboot-example-development-138
            </li>
            <li>1b09171 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.41.0<a name='[v2.41.0, v2.40.0][0]'></a></h1>
        <ul>
            <li>e35993e 2018-04-16 rkerai [jenkins-versioned] v2.41.0 +
                jenkins-Simple-springboot-example-development-137
            </li>
            <li>aa7aef1 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.40.0<a name='[v2.40.0, v2.39.0][0]'></a></h1>
        <ul>
            <li>9fb35e0 2018-04-16 rkerai [jenkins-versioned] v2.40.0 +
                jenkins-Simple-springboot-example-development-133
            </li>
            <li>c4ab081 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.39.0<a name='[v2.39.0, v2.38.0][0]'></a></h1>
        <ul>
            <li>0cce945 2018-04-16 rkerai [jenkins-versioned] v2.39.0 +
                jenkins-Simple-springboot-example-development-132
            </li>
            <li>ba7f831 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.38.0<a name='[v2.38.0, v2.37.0][0]'></a></h1>
        <ul>
            <li>31c4dce 2018-04-16 rkerai [jenkins-versioned] v2.38.0 +
                jenkins-Simple-springboot-example-development-131
            </li>
            <li>4d78243 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.37.0<a name='[v2.37.0, v2.36.0][0]'></a></h1>
        <ul>
            <li>1e12736 2018-04-16 rkerai [jenkins-versioned] v2.37.0 +
                jenkins-Simple-springboot-example-development-130
            </li>
            <li>1d5671b 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.36.0<a name='[v2.36.0, v2.35.0][0]'></a></h1>
        <ul>
            <li>2e14040 2018-04-16 rkerai [jenkins-versioned] v2.36.0 +
                jenkins-Simple-springboot-example-development-129
            </li>
            <li>e7f60ab 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.35.0<a name='[v2.35.0, v2.34.0][0]'></a></h1>
        <ul>
            <li>98c1e02 2018-04-16 rkerai [jenkins-versioned] v2.35.0 +
                jenkins-Simple-springboot-example-development-128
            </li>
            <li>5eff5e7 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.34.0<a name='[v2.34.0, v2.33.0][0]'></a></h1>
        <ul>
            <li>460c6ef 2018-04-16 rkerai [jenkins-versioned] v2.34.0 +
                jenkins-Simple-springboot-example-development-127
            </li>
            <li>1644219 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.33.0<a name='[v2.33.0, v2.32.0][0]'></a></h1>
        <ul>
            <li>f17c786 2018-04-16 rkerai [jenkins-versioned] v2.33.0 +
                jenkins-Simple-springboot-example-development-126
            </li>
            <li>20661e0 2018-04-16 bainss debug</li>
            <li>3c72687 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.32.0<a name='[v2.32.0, v2.31.0][0]'></a></h1>
        <ul>
            <li>6b7f266 2018-04-16 rkerai [jenkins-versioned] v2.32.0 +
                jenkins-Simple-springboot-example-development-125
            </li>
            <li>e69f59c 2018-04-16 bainss Merge branch 'development' of
                https://pol-hngt-githubent.mycnets.com/pol/pol-hss-simple-springboot into development
            </li>
            <li>4e2845d 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.31.0<a name='[v2.31.0, v2.30.0][0]'></a></h1>
        <ul>
            <li>edad84e 2018-04-16 rkerai [jenkins-versioned] v2.31.0 +
                jenkins-Simple-springboot-example-development-123
            </li>
            <li>cf4d560 2018-04-16 bainss Merge branch 'development' of
                https://pol-hngt-githubent.mycnets.com/pol/pol-hss-simple-springboot into development
            </li>
            <li>efcee8b 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.30.0<a name='[v2.30.0, v2.29.0][0]'></a></h1>
        <ul>
            <li>d02ad33 2018-04-16 rkerai [jenkins-versioned] v2.30.0 +
                jenkins-Simple-springboot-example-development-121
            </li>
            <li>81f5624 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.29.0<a name='[v2.29.0, v2.28.0][0]'></a></h1>
        <ul>
            <li>1fb747f 2018-04-16 rkerai [jenkins-versioned] v2.29.0 +
                jenkins-Simple-springboot-example-development-120
            </li>
            <li>8031d6f 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.28.0<a name='[v2.28.0, v2.27.0][0]'></a></h1>
        <ul>
            <li>24de4c3 2018-04-16 rkerai [jenkins-versioned] v2.28.0 +
                jenkins-Simple-springboot-example-development-115
            </li>
            <li>548b699 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.27.0<a name='[v2.27.0, v2.26.0][0]'></a></h1>
        <ul>
            <li>e1c4014 2018-04-16 rkerai [jenkins-versioned] v2.27.0 +
                jenkins-Simple-springboot-example-development-113
            </li>
            <li>aab6a4c 2018-04-16 bainss Merge branch 'development' of
                https://pol-hngt-githubent.mycnets.com/pol/pol-hss-simple-springboot into development
            </li>
            <li>d11c58c 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.26.0<a name='[v2.26.0, v2.25.0][0]'></a></h1>
        <ul>
            <li>01ec339 2018-04-16 rkerai [jenkins-versioned] v2.26.0 +
                jenkins-Simple-springboot-example-development-112
            </li>
            <li>2dd68c2 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.25.0<a name='[v2.25.0, v2.24.0][0]'></a></h1>
        <ul>
            <li>9098d2b 2018-04-16 rkerai [jenkins-versioned] v2.25.0 +
                jenkins-Simple-springboot-example-development-111
            </li>
            <li>bd39329 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.24.0<a name='[v2.24.0, v2.23.0][0]'></a></h1>
        <ul>
            <li>d8e0765 2018-04-16 rkerai [jenkins-versioned] v2.24.0 +
                jenkins-Simple-springboot-example-development-110
            </li>
            <li>3ebe651 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.23.0<a name='[v2.23.0, v2.22.0][0]'></a></h1>
        <ul>
            <li>128e481 2018-04-16 rkerai [jenkins-versioned] v2.23.0 +
                jenkins-Simple-springboot-example-development-109
            </li>
            <li>bef668a 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.22.0<a name='[v2.22.0, v2.21.0][0]'></a></h1>
        <ul>
            <li>79cb6ef 2018-04-16 rkerai [jenkins-versioned] v2.22.0 +
                jenkins-Simple-springboot-example-development-103
            </li>
            <li>b2d5225 2018-04-16 bainss Merge branch 'development' of
                https://pol-hngt-githubent.mycnets.com/pol/pol-hss-simple-springboot into development
            </li>
            <li>0a6ea95 2018-04-16 bainss debug</li>
        </ul>
        <h1>v2.21.0<a name='[v2.21.0, v2.20.0][0]'></a></h1>
        <ul>
            <li>c0aa489 2018-04-16 rkerai [jenkins-versioned] v2.21.0 +
                jenkins-Simple-springboot-example-development-100
            </li>
            <li>6107d33 2018-04-14 bainss debug</li>
        </ul>
        <h1>v2.20.0<a name='[v2.20.0, v2.19.0][0]'></a></h1>
        <ul>
            <li>e08029a 2018-04-14 rkerai [jenkins-versioned] v2.20.0 +
                jenkins-Simple-springboot-example-development-98
            </li>
            <li>bfe97db 2018-04-14 bainss Merge branch 'development' of
                https://pol-hngt-githubent.mycnets.com/pol/pol-hss-simple-springboot into development
            </li>
            <li>56fabe3 2018-04-14 bainss debug</li>
        </ul>
        <h1>v2.19.0<a name='[v2.19.0, v2.18.0][0]'></a></h1>
        <ul>
            <li>7ee5d04 2018-04-14 rkerai [jenkins-versioned] v2.19.0 +
                jenkins-Simple-springboot-example-development-97
            </li>
            <li>78d99a7 2018-04-14 bainss debug</li>
            <li>13fd33c 2018-04-14 bainss Merge branch 'development' of
                https://pol-hngt-githubent.mycnets.com/pol/pol-hss-simple-springboot into development
            </li>
            <li>7ef6a0d 2018-04-14 bainss debug</li>
        </ul>
        <h1>v2.18.0<a name='[v2.18.0, v2.17.0][0]'></a></h1>
        <ul>
            <li>75e1d84 2018-04-14 rkerai [jenkins-versioned] v2.18.0 +
                jenkins-Simple-springboot-example-development-89
            </li>
            <li>8364bb2 2018-04-13 bainss debug</li>
        </ul>
        <h1>v2.17.0<a name='[v2.17.0, v2.16.0][0]'></a></h1>
        <ul>
            <li>5930f10 2018-04-13 rkerai [jenkins-versioned] v2.17.0 +
                jenkins-Simple-springboot-example-development-76
            </li>
            <li>afffd35 2018-04-13 bainss more debug</li>
        </ul>
        <h1>v2.16.0<a name='[v2.16.0, v2.15.0][0]'></a></h1>
        <ul>
            <li>bd1d9da 2018-04-13 rkerai [jenkins-versioned] v2.16.0 +
                jenkins-Simple-springboot-example-development-74
            </li>
            <li>3df077d 2018-04-13 bainss more debug</li>
        </ul>
        <h1>v2.15.0<a name='[v2.15.0, v2.14.0][0]'></a></h1>
        <ul>
            <li>d5e5011 2018-04-13 rkerai [jenkins-versioned] v2.15.0 +
                jenkins-Simple-springboot-example-development-68
            </li>
            <li>d65b7ab 2018-04-13 bainss conf.json</li>
        </ul>
        <h1>v2.14.0<a name='[v2.14.0, v2.13.0][0]'></a></h1>
        <ul>
            <li>258a1a7 2018-04-13 rkerai [jenkins-versioned] v2.14.0 +
                jenkins-Simple-springboot-example-development-65
            </li>
            <li>ca04931 2018-04-13 bainss Merge branch 'development' of
                https://pol-hngt-githubent.mycnets.com/pol/pol-hss-simple-springboot into development
            </li>
            <li>6e8610d 2018-04-13 bainss conf.json</li>
        </ul>
        <h1>v2.13.0<a name='[v2.13.0, v2.12.0][0]'></a></h1>
        <ul>
            <li>c3911a4 2018-04-13 rkerai [jenkins-versioned] v2.13.0 +
                jenkins-Simple-springboot-example-development-62
            </li>
            <li>9e40b4a 2018-04-13 bainss conf.json</li>
        </ul>
        <h1>v2.12.0<a name='[v2.12.0, v2.11.0][0]'></a></h1>
        <ul>
            <li>413284b 2018-04-13 rkerai [jenkins-versioned] v2.12.0 +
                jenkins-Simple-springboot-example-development-61
            </li>
            <li>7838208 2018-04-13 bainss conf.json</li>
        </ul>
        <h1>v2.11.0<a name='[v2.11.0, v2.10.0][0]'></a></h1>
        <ul>
            <li>9a23c88 2018-04-12 rkerai [jenkins-versioned] v2.11.0 +
                jenkins-Simple-springboot-example-development-58
            </li>
            <li>ad574b8 2018-04-12 bainss add tpl</li>
        </ul>
        <h1>v2.10.0<a name='[v2.10.0, v2.9.0][0]'></a></h1>
        <ul>
            <li>ac44ce3 2018-04-12 rkerai [jenkins-versioned] v2.10.0 +
                jenkins-Simple-springboot-example-development-55
            </li>
            <li>e2f2591 2018-04-12 bainss test html</li>
        </ul>
        <h1>v2.9.0<a name='[v2.9.0, v2.8.0][0]'></a></h1>
        <ul>
            <li>c02a276 2018-04-12 rkerai [jenkins-versioned] v2.9.0 +
                jenkins-Simple-springboot-example-development-53
            </li>
            <li>ab04498 2018-04-12 bainss add releaseNotes.html</li>
        </ul>
        <h1>v2.8.0<a name='[v2.8.0, v2.7.0][0]'></a></h1>
        <ul>
            <li>abd0460 2018-04-12 rkerai [jenkins-versioned] v2.8.0 +
                jenkins-Simple-springboot-example-development-47
            </li>
            <li>038455d 2018-04-12 bainss Merge branch 'development' of
                https://pol-hngt-githubent.mycnets.com/pol/pol-hss-simple-springboot into development
            </li>
            <li>04f0ab2 2018-04-12 bainss add releaseNotes.md</li>
        </ul>
        <h1>v2.7.0<a name='[v2.7.0, v2.6.0][0]'></a></h1>
        <ul>
            <li>6c5abdb 2018-04-12 rkerai [jenkins-versioned] v2.7.0 +
                jenkins-Simple-springboot-example-development-44
            </li>
            <li>ac55848 2018-04-12 bainss Merge branch 'development' of
                https://pol-hngt-githubent.mycnets.com/pol/pol-hss-simple-springboot into development
            </li>
            <li>2e72989 2018-04-12 bainss include relaseNotes files</li>
        </ul>
        <h1>v2.6.0<a name='[v2.6.0, v2.5.0][0]'></a></h1>
        <ul>
            <li>3532649 2018-04-12 rkerai [jenkins-versioned] v2.6.0 +
                jenkins-Simple-springboot-example-development-41
            </li>
            <li>2f9ea88 2018-04-12 bainss include relaseNotes files</li>
            <li>bc8c0aa 2018-04-12 bainss releaseNotes templates</li>
            <li>4218292 2018-04-12 bainss correct location</li>
            <li>6b72da2 2018-04-12 bainss add templates dir</li>
            <li>839dcd3 2018-04-12 bainss test releasenotes</li>
            <li>e7b9db3 2018-04-12 bainss test releasenotes</li>
            <li>51bb01d 2018-04-10 tingleyn Merge pull request #3 from pol/PC-0000_test_github_notify</li>
            <li>f23444e 2018-04-10 tingleyn Merge branch 'development' into PC-0000_test_github_notify</li>
            <li>8ed05a9 2018-04-10 Neil Tingley Changed pipeline library version to fix-grab</li>
            <li>60bb401 2018-04-10 Neil Tingley Testing githib notify with workflow library version C</li>
        </ul>
        <h1>v2.5.0<a name='[v2.5.0, v2.4.0][0]'></a></h1>
        <ul>
            <li>8ceb4b1 2018-04-09 rkerai [jenkins-versioned] v2.5.0 +
                jenkins-Simple-springboot-example-development-23
            </li>
            <li>ce22fc1 2018-04-09 Neil Tingley Changed pipeline library version to fix-grab</li>
        </ul>
        <h1>v2.4.0<a name='[v2.4.0, v2.3.0][0]'></a></h1>
        <ul>
            <li>95c1949 2018-04-09 rkerai [jenkins-versioned] v2.4.0 +
                jenkins-Simple-springboot-example-development-22
            </li>
            <li>fdcccf2 2018-04-09 Neil Tingley Changed pipeline library version to fix-grab</li>
        </ul>
        <h1>v2.3.0<a name='[v2.3.0, v2.2.0][0]'></a></h1>
        <ul>
            <li>34e5095 2018-04-09 rkerai [jenkins-versioned] v2.3.0 +
                jenkins-Simple-springboot-example-development-21
            </li>
            <li>ba2c404 2018-04-09 Neil Tingley Changed pipeline library version to fix-grab</li>
            <li>a40da1c 2018-04-09 Neil Tingley Changed pipeline library version to fix-grab</li>
            <li>6165d4e 2018-04-09 Neil Tingley Merge branch 'development' of
                pol-hngt-githubent.mycnets.com:pol/pol-hss-simple-springboot into development
            </li>
            <li>d0b7970 2018-04-09 Neil Tingley Changed pipeline library version to fix-grab</li>
            <li>5b2e6c8 2018-04-09 Neil Tingley Changed pipeline library version to fix-grab</li>
            <li>f86a21a 2018-04-09 Neil Tingley Changed pipeline library version to fix-grab</li>
            <li>5cb4232 2018-04-09 Neil Tingley Changed pipeline library version to v2.6.1</li>
            <li>53766a4 2018-04-09 Neil Tingley Changed pipeline library version to PC-9999</li>
            <li>d5eea22 2018-04-04 rkerai [jenkins-versioned] v2.3.0 + jenkins-Simple-springboot-example-development-5
            </li>
            <li>3572dd6 2018-04-04 bainss test development</li>
        </ul>
        <h1>v2.2.0<a name='[v2.2.0][0]'></a></h1>
        <ul>
            <li><br></li>
        </ul>
    </div>
</div>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</body>
</html>